:root {
    --header-height: 80px; /* Establecer la altura de su header */
    --footer-height: 80px; /* Establecer la altura de su footer */
}
body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    background: #d3cce3; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #e9e4f0, #d3cce3); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #e9e4f0, #d3cce3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-image: url('https://www.gob.mx/cms/uploads/identity/image/32471/cabecera_blanca.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
    min-height: 100vh;
}

IMG.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

table {
    background-color: rgba(255, 255, 255, 0.9);
}

.centered {
    text-align: center !important;
    vertical-align: middle !important;
}

.custom-table {
    font-size: 0.8rem;
}

.table td {
    white-space: nowrap;
}

.table-container {
    width: 100%;
    overflow-x: hidden;
}

#login {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 2rem;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border: none;
}

.card-header {
    background-color: #000;
    color: white;
}

.form-group {
    margin-bottom: 0.5rem;
}

.form-check-label {
    margin-left: 0.5rem;
}
header {
}

main {
    flex-grow: 1;
}

footer {
    flex-shrink: 0;
}
#main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100%;
}
#login {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - var(--header-height) - var(--footer-height));
    padding: 2rem;
}

header {
    height: var(--header-height);
}

footer {
    height: var(--footer-height);
}
.small-input {
    max-width: 250px;
}

.small-input {
  max-width: 150px;
}

