table {
    background-color: rgba(255, 255, 255, 0.9);
}

.centered {
    text-align: center !important;
    vertical-align: middle !important;
}

.custom-table {
    font-size: 0.8rem;
}

.table td {
    white-space: nowrap;
}

.table thead th {
    background-color: black;
    color: white;
}

.table-container {
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.icon-cell {
    width: 40px;
    padding: 5px;
    text-align: center;
}

.table-icon {
    max-width: 50%;
    height: auto;
    display: inline-block;
    vertical-align: middle;
}
