<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <title>Inventario/Empleados</title>
        <meta charset="UTF-8">
            <!-- Bootstrap -->
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
            <!-- DataTable -->
            <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css" />
            <!-- Custom CSS -->
            <link rel="stylesheet" href="/style.css" type="text/css"/>
    </head>

    <body>
        
        <header th:replace="layout/plantilla :: header"></header>
        
        <div class="table-container">
            
            <div th:if="${empleados != null and !empleados.empty}">
                
                <table id="datatable_users" class="table table-striped custom-table">
                    
                    <thead>
                        
                        <tr>
                            <th>Nombre</th>
                            <th>Número Empleado</th>
                            <th>RFC</th>
                            <th>CURP</th>
                            <th>Departamento</th>
                            <th>Puesto</th>
                            <th>Email</th>
                            <th>Ext</th>
                            <th>Fecha Alta</th>
                            <th>Editar</th>
                            <th>Eliminar</th>
                        </tr>
                        
                    </thead>
                    
                    <tbody id="tableinv">
                        
                        <tr th:each="emplead : ${empleados}">
                            <td th:text="${emplead.nombre}">Mostrar Nombre</td>
                            <td th:text="${emplead.numempleado}">Mostrar Número Empleado</td>
                            <td th:text="${emplead.rfc}">Mostrar RFC</td>
                            <td th:text="${emplead.curp}">Mostrar CURP</td>
                            <td th:text="${emplead.departamento}">Mostrar Departamento</td>
                            <td th:text="${emplead.puesto}">Mostrar Puesto</td>
                            <td th:text="${emplead.email}">Mostrar Email</td>
                            <td th:text="${emplead.ext}">Mostrar Extension</td>
                            <td th:text="${emplead.fechaempleado}">Mostrar Fecha Alta</td>

                            <td><a th:href="@{/editarempl/{idempleado}(idempleado=${emplead.idempleado})}" th:text="Editar"></a></td>
                            <td><a th:href="@{/eliminarempl(idempleado=${emplead.idempleado})}" th:text="Eliminar"></a></td>
                        </tr>
                        
                    </tbody>
                    
                </table>
            </div>   
        </div>
        
        <div th:if="${empleados == null or empleados.empty}">
            La lista de Empleados está vacía
        </div>
        
        <footer th:replace="layout/plantilla :: footer"></footer>

        <!-- jQuery -->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <!-- Popper.js -->
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
        <!-- Bootstrap JS -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <!-- DataTable -->
        <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>
        <!-- Custom JS -->
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
        <script>
            let dataTable;
            let dataTableIsInitialized = false;
            const dataTableOptions = {
                scrollX: true,
                lengthMenu: [5, 10, 15, 20, 100, 200, 500],
                columnDefs: [
                    {className: "centered", targets: [0, 1, 2, 3, 4, 5, 6, 7, 8]},
                    {orderable: false, targets: [9, 10]},
                    {searchable: false, targets: [9, 10]},
                    {width: "10%", targets: [1, 3, 4, 5, 6, 7]}
                ],
                pageLength: 10,
                destroy: true,
                language: {
                    lengthMenu: "Mostrar _MENU_ registros por página",
                    zeroRecords: "Ningún registro encontrado",
                    info: "Mostrando de _START_ a _END_ de un total de _TOTAL_ registros",
                    infoEmpty: "Ningún registro encontrado",
                    infoFiltered: "(filtrados desde _MAX_ registros totales)",
                    search: "Buscar:",
                    loadingRecords: "Cargando...",
                    paginate: {
                        first: "Primero",
                        last: "Último",
                        next: "Siguiente",
                        previous: "Anterior"
                    }

                }

            };
            const initDataTable = async () => {
                if (dataTableIsInitialized) {
                    dataTable.destroy();
                }

                dataTable = $("#datatable_users").DataTable(dataTableOptions);
                dataTableIsInitialized = true;
            };
            $(document).ready(function () {
                initDataTable();
            });
        </script>

    </body>
</html>
